body{
    background-color: rgb(189, 183, 183);
}

#cabeca{
    background-color: black;
    padding: 50px;
    margin: 0px;
    display: flex;
    color: white;
}

#imagem{
    width: 100px;
}


footer{
    background-color: black;
    color: white;
}

#quadrado_contato{
    background-color: rgb(0, 0, 0);
    padding: 50px;
    width: 120px;
    padding-top: 60px;
    color: white;
}

.quadrado_escrita{
    background-color: white;
    padding: 10px;
    width: 100px;  
}

#quadrado_mensagem{
    background-color: white;
    padding: 20px;
    width: 100px;    
}

#quadrado_enviar{
    background-color: rgb(201, 198, 198);
    padding: 0px;
    width: 45px;   
    color: black; 
}

#flex{
    display: flex;
}

